<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <!-- Основная информация -->
    <key>CFBundleDisplayName</key>
    <string>PornViewer</string>
    <key>CFBundleName</key>
    <string>PornViewer</string>
    <key>CFBundleIdentifier</key>
    <string>com.plovdev.pornviewer</string>
    <key>CFBundleVersion</key>
    <string>1.7.0</string>
    <key>CFBundleShortVersionString</key>
    <string>1.7.0</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleSignature</key>
    <string>????</string>

    <!-- Иконка -->
    <key>CFBundleIconFile</key>
    <string>PornViewer.icns</string>

    <!-- Категория в Launchpad -->
    <key>LSApplicationCategoryType</key>
    <string>public.app-category.entertainment</string>

    <!-- Минимальная версия macOS -->
    <key>LSMinimumSystemVersion</key>
    <string>10.15.0</string>

    <!-- Главный исполняемый файл -->
    <key>CFBundleExecutable</key>
    <string>PornViewer</string>

    <!-- Поддержка Retina -->
    <key>NSHighResolutionCapable</key>
    <true/>

    <!-- Разрешить выход в интернет -->
    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSAllowsArbitraryLoads</key>
        <true/>
    </dict>

    <!-- Ассоциации файлов (для плагинов .pvva) -->
    <key>CFBundleDocumentTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeName</key>
            <string>PornViewer Plugin</string>
            <key>CFBundleTypeRole</key>
            <string>Viewer</string>
            <key>CFBundleTypeIconFile</key>
            <string>PornViewer.icns</string>
            <key>LSItemContentTypes</key>
            <array>
                <string>com.plovdev.pv.plugin</string>
            </array>
            <key>LSHandlerRank</key>
            <string>Owner</string>
        </dict>
    </array>

    <!-- Регистрация MIME-типа -->
    <key>UTExportedTypeDeclarations</key>
    <array>
        <dict>
            <key>UTTypeIdentifier</key>
            <string>com.plovdev.pv.plugin</string>
            <key>UTTypeTagSpecification</key>
            <dict>
                <key>public.filename-extension</key>
                <array>
                    <string>pvva</string>
                </array>
                <key>public.mime-type</key>
                <string>application/x-pvva-plugin</string>
            </dict>
            <key>UTTypeDescription</key>
            <string>PornViewer Plugin</string>
            <key>UTTypeIconFile</key>
            <string>PornViewer.icns</string>
        </dict>
    </array>

        <!-- URL Schemes (Deeplink) -->
        <key>CFBundleURLTypes</key>
        <array>
            <dict>
                <key>CFBundleURLName</key>
                <string>b29a674cce9b3fff1010a658070c8933</string>
                <key>CFBundleURLSchemes</key>
                <array>
                    <string>pv</string>
                    <string>pornviewer</string>
                </array>
                <key>CFBundleTypeRole</key>
                <string>Viewer</string>
            </dict>
        </array>

    <!-- Поддержка тёмной темы -->
    <key>NSRequiresAquaSystemAppearance</key>
    <false/>

    <!-- Приложение не агент (будет в Dock) -->
    <key>LSUIElement</key>
    <false/>
</dict>
</plist>
